<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/prtydb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.propertysys.bean.EmployeeBean"/>
        <mapping class="com.propertysys.bean.EquipItemBean"/>
        <mapping class="com.propertysys.bean.EquipManageRecordBean"/>
        <mapping class="com.propertysys.bean.EquipRentRecordBean"/>
        <mapping class="com.propertysys.bean.EquipmentBean"/>
        <mapping class="com.propertysys.bean.InstallRecordBean"/>
        <mapping class="com.propertysys.bean.ItemManagerBean"/>
        <mapping class="com.propertysys.bean.SpareBean"/>
        <mapping class="com.propertysys.bean.SpareItemBean"/>
        <mapping class="com.propertysys.bean.SpareManageRecordBean"/>
        <mapping class="com.propertysys.bean.SpareRentRecordBean"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

    </session-factory>
</hibernate-configuration>